.app__header {
  background-color: var(--color-black);
  /* bg-black */
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
  /* font- text-yellow-500 tracking-wider uppercase leading-[117px] text-[90px] */
}
